# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/report/annexe/annex.aux
/report/annexe/annexe.aux
/report/annexe/annexe.log
/report/annexe/annexe_mise_en_place.aux

/report/biblio/biblio.aux
/report/biblio/biblio.log

/report/conclusion/conclusion.aux
/report/conclusion/conclusion.log
/report/conclusion/conclusion_reduit.aux

/report/dedicace/dedicace.aux

/report/dossier/fichier.log
/report/dossier/fichier2.log

/report/glossaire/glossaire.aux
/report/glossaire/glossaire.tex.backup
/report/glossaire/glossaire.log
/report/glossaire/glossaire_reduit.aux
/report/glossaire/glossaire_reduit.log

/report/introduction/introduction.aux
/report/introduction/introduction.tex.backup

/report/remerciements/remerciements.aux

/report/resume/resume_abstract.aux
/report/resume/resume_abstract.tex.backup

/report/memoire_vincent.aux
/report/memoire_vincent.glo
/report/memoire_vincent.log
/report/memoire_vincent.glsdefs
/report/memoire_vincent.idx
/report/memoire_vincent.ist
/report/memoire_vincent.lof
/report/memoire_vincent.lot
/report/memoire_vincent.maf
/report/memoire_vincent.mtc
/report/memoire_vincent.mtc0
/report/memoire_vincent.out
/report/memoire_vincent.tex.backup
/report/memoire_vincent.toc

/presentation/presentation.aux
/presentation/presentation.log
/presentation/presentation.nav
/presentation/presentation.out
/presentation/presentation.snm
/presentation/presentation.tex.backup
/presentation/presentation.toc
